<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DishDash Menu</title>
    <!-- goggle font link-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Satisfy&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="./css/menu.css" />
</head>

<body>
    <!-- HEADER -->
    <header id="header">
        <!-- BRAND LOGO -->
        <div class="brand-logo">
            <a href="/" title="return to home page">Dish<span>Dash!</span><sup>&#8482;</sup></a>
        </div>
        <!-- CART ICON -->
        <div class="cart-icon" onclick="toggleCartSideBar()" aria-label="Open shopping cart">
            🛒<span>0</span>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <!-- CART ASIDE -->
        <aside class="cart-side-bar">
            <h2>CART</h2>
            <!-- cart err msg -->
            <p class="cart-err-msg"></p>

            <!-- LIST CART ITEMS -->
            <div class="list-cart-items">
                
            </div>
            <!-- checkout-btn-container -->
            <div class="checkout-btn-container">
                <button id="open-checkout">Checkout</button>
            </div>
        </aside>

        <!-- SECTION CONTAINER -->
        <div class="section-container">
            <!-- LOCAL DISH SECTION -->
            <section>
                <!-- title -->
                <div class="title-container">
                    <img src="images/local_dish_chef.jpg" alt="" />
                    <h2>Local Dishes</h2>
                </div>
                <!-- list-dishes -->
                <div id="local-list" class="list-dishes">
                    <!-- dish -->
                </div>
            </section>

            <!-- FOREIGN DISH SECTION -->
            <section>
                <!-- title -->
                <div class="title-container">
                    <img src="images/foreign_dish_chef.webp" alt="" />
                    <h2>Foreign Dishes</h2>
                </div>
                <!-- list-dishes -->
                <div id="foreign-list" class="list-dishes">
                    <!-- dish -->
                </div>
            </section>

            <!-- FASTFOOD & DESSERT SECTION -->
            <section>
                <!-- title container -->
                <div class="title-container">
                    <img src="images/fast_food_chef.jpg" alt="" />
                    <h2>FastFood & Dessert</h2>
                </div>
                <!-- list-dishes -->
                <div id="dessert-list" class="list-dishes">
                    <!-- dish -->
                </div>
            </section>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include("footer.ejs") %>

    <!-- OVERLAY -->
    <div class="page-overlay" onclick="toggleCartSideBar()"></div>

    <!-- Checkout OVERLAY -->
    <div class="checkout-overlay"></div>
    
    <script src="./src/menu.js"></script>
</body>

</html>