* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  line-height: 1;
  transition: all 0.4s ease;
}
/* ROOT VARIABLES */
:root {
  --default-font: "Poppins", sans-serif;
  --heading-font: "Satisfy", cursive;
  --dark-orange: #ff7a00;
  --orange: rgb(252, 156, 21);
  --light-yellow: rgba(251, 219, 160, 0.852);
  --yellowish-white: #fff9f7;
  --black: #000;
  --white: #fff;
  --dark-overlay: rgba(0, 0, 0, 0.3);
  --btn-width: 130px;
}
/* HTML */
html {
  scroll-behavior: smooth;
}
/* BODY */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
/* IMAGE CONTAINER */
.image-container {
  width: 65%;
  height: 100vh;
  overflow: hidden;
  border-right: 5px solid var(--orange);
}
.sign-up-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the container without stretching */
}
.brand-logo {
  position: absolute;
  top: 40px;
  left: 45px;
  padding: 10px;
  text-align: center;
  border: 5px solid var(--orange);
  background-color: rgba(255, 255, 255, 0.822);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.brand-logo > h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 2px;
}
span {
  text-decoration: underline;
  color: var(--orange);
}
.brand-logo sup {
  font-size: 24px;
  font-weight: lighter;
}
.brand-logo p {
  margin-top: 10px;
  font-family: var(--default-font);
  font-size: 16px;
  color: var(--orange);
}
/* MAIN */
main {
  width: 35%;
  height: 100vh;
  background-color: var(--yellowish-white);
  padding: 15px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-name {
  text-align: center;
  margin: 30px 0;
}
.brand-name > h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 5px;
}
.brand-name sup {
  font-size: 16px;
  font-weight: lighter;
}
.brand-name p {
  font-family: var(--default-font);
  font-size: 14px;
  color: var(--orange);
}
/* FORM CONTAINER */
.form-container {
  font-family: var(--default-font);
  background-color: var(--white);
  width: 100%;
  padding: 15px 30px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 8px 20px var(--dark-overlay);
}
.form-container > p {
  font-size: 12px;
  color: grey;
  margin: 10px 0 5px 0;
}
form {
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.user-input {
  height: 35px;
  padding-left: 10px;
  margin: 7.5px 0;
  border-radius: 8px;
  font-size: 14px;
  background-color: var(--yellowish-white);
  border: 1px solid var(--light-yellow);
  letter-spacing: 1px;
}
.user-input:focus {
  border-color: var(--dark-orange);
  outline: none;
}
.err {
  text-align: left;
  font-size: 13px;
  padding: 2px 10px 2px 10px;
  color: red;
}
.red-border {
  border-color: red;
}
.checkbox-container {
  text-align: left;
  margin: 0 0 20px 0;
}
.checkbox-label {
  font-size: 12px;
  font-weight: bold;
  color: var(--black);
}
.checkbox {
  vertical-align: middle;
  height: 14px;
  width: 14px;
  margin-left: 15px;
  cursor: pointer;
}
.login-route {
  font-size: 14px;
  margin: 5px 0;
}
.login-link {
  color: var(--orange);
}
.login-link:active {
  color: purple;
}
.sign-up-btn {
  width: var(--btn-width);
  padding: 12px 0 10px 0;
  margin: 5px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  border: 2px solid var(--orange);
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
  transition: all 0.2s ease;
}
.sign-up-btn:hover {
  box-shadow: rgba(208, 179, 92, 0.537) 0px 4px 10px;
  background-color: var(--orange);
  color: var(--white);
}
.sign-up-btn:active {
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--orange);
}

@media (min-width: 480px) and (max-width: 850px) {
  .form-container {
    width: 380px;
  }
  .user-input {
    width: 320px;
  }
}

@media (max-width: 850px) {
  .image-container {
    display: none;
  }
  main {
    width: 100%;
  }
}
